@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,100,300);

body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}
#ciudadviva-logo{
        background-image:url("/cobrands/barriosenaccion/images/ciudadVivaNegro.png") !important;
        background-position:0 -5px !important;
        height:40px;
        opacity:0.8;
        width:100%;
        background-repeat: no-repeat !important;
    }
.form-box h5 strong{font-size:1em}
.purple {
	color: $purple;
}

/* Header */

header .branding {
	background-color: #975CA8;
	padding: 10px 0;
}
.navbar {
  border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #F7F7F7;
}
.navbar-default .navbar-nav>li {
  border-style: solid;
  border-color: #ffffff;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
  font-weight: 300;
  font-size: 14px;
}
.navbar-default .navbar-nav>li>a>i {
  font-weight: normal;
  font-size: 18px;
  display: block;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #ffffff;
}
.tipos_home, .pasos_home {
	text-align: center;
}
.tipos_home {
	background-color: #664EBC;
	color: #ffffff;
	padding-bottom: 20px;
	
}
.pasos_home {
	color: #000000;
}
.pasos_home .row div {
	margin-bottom: 20px;
}
.tipos_home img, .pasos_home img {
	max-width: 90px;
	margin-bottom: 20px;
}
.tipos_home h2, .pasos_home h2 {
	margin-bottom: 30px;
	font-weight: 100;
	font-size: 2.571em;
}


@media (min-width: 768px) {
.nav-justified>li {
  float: none !important;
}
.navbar-nav>li>a {
  padding-top: 0px;
  padding-bottom: 0px;
}
}
.navbar {
  margin-bottom: 0px;
}
.carousel {
  margin: 0 -7px;
}
.carousel-inner>.item {
  max-height: 415px;
}
.carousel-inner>.item>img {
	  -webkit-filter: grayscale(40%);
}
.carousel-caption {
  right: 15%;
  top: 30px;
  left: 15%;
  bottom: auto;
  color: #fff;
  text-align: left;
  max-width: 50%;
}
.carousel-caption h2 {
  font-weight: 100;
  font-size: 2.571em;
}
.carousel-caption span {
  font-weight: 500;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  color: #6e5ca4;
}
div#main-nav {
  color: #ffffff;
  background: #864598;
}

#container_carousel {
	div.slogan div.slogan_container {
		position:absolute;
		margin-top: 100px;
		padding-left: 10px;
		margin-right: 1px;
		z-index: 1;
		color: #FFF;
		background-color: #000;
		text-align: left;
		p {
			list-style: outside none none;
		}
	}
	.carousel_item {
	  	width: 100%;
	  	background: #eee;
	  	margin: auto;
	}

	.carrusel {
		height: 300px;
		overflow: hidden;
		img {
			top:-300px;
			position: absolute;
		}
	}
}