#ciudadviva-logo{
        background-image:url("/cobrands/barriosenaccion/images/ciudadVivaNegro.png") !important;
        background-position:0 -5px !important;
        height:40px;
        opacity:0.8;
        width:100%;
        background-repeat: no-repeat !important;
    }
.form-box h5 strong{font-size:1em}
.purple {
	color: $purple;
}

/* Header */

header .branding {
	background-color: #f6f6f6;
	padding: 10px 0;
}
.navbar {
  border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ecedef;
}
.nav>li.active >a>img, .nav>li >a:hover>img {
	-webkit-filter: invert(100%);
}
.navbar-default .navbar-nav>li>a {
  color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFF;
  background-color: #6e5ca4;
}
.tipos_home, .pasos_home {
	text-transform: uppercase;
	text-align: center;
}
.tipos_home {
	background-color: #e8e8e8;
	color: #6e5ca4;
	
}
.pasos_home {
	background-color: #6e5ca4;
	color: #FFF;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-default .navbar-nav>li {
	  max-width: 120px;
	  text-transform: uppercase;
	}
	.navbar-default .navbar-nav>li>a {
	  min-height: 106px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar-default .navbar-nav>li {
	  max-width: 120px;
	  text-transform: uppercase;
	  margin-right: 30px;
	}
	.navbar-default .navbar-nav>li>a {
	  min-height: 106px;
	}
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.navbar-default .navbar-nav>li {
	  max-width: 120px;
	  text-transform: uppercase;
	  margin-right: 30px;
	}
	.navbar-default .navbar-nav>li>a {
	  min-height: 106px;
	}
}
