@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,100,300);
@font-face {
  font-family: "barriosenaccion";
  src:url("/cobrands/barriosenaccion/fonts/barriosenaccion.eot");
  src:url("/cobrands/barriosenaccion/fonts/barriosenaccion.eot?#iefix") format("embedded-opentype"),
    url("/cobrands/barriosenaccion/fonts/barriosenaccion.woff") format("woff"),
    url("/cobrands/barriosenaccion/fonts/barriosenaccion.ttf") format("truetype"),
    url("/cobrands/barriosenaccion/fonts/barriosenaccion.svg#barriosenaccion") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "barriosenaccion" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "barriosenaccion" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alertas:before {
  content: "a";
  font-family: "barriosenaccion";
}
.icon-logo:before {
  content: "b";
  font-family: "barriosenaccion";
  font-size: 1.2em;
}

body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
label {
  font-weight: 300;
  font-size: 1.286em;
  font-family: 'Roboto', sans-serif;
}
label.inline {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #898989;
}
input[type=text], input[type=password], input[type=email], textarea {
  border: 0.071em solid #f3f3f3;
  color: #898989;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  -ms-border-radius: 0em;
  -o-border-radius: 0em;
  border-radius: 0em;
}
select {
  background: #B4B4B4;
  color: #FFF;
  font-weight: 300;
  height: 2.5em;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  -ms-border-radius: 0em;
  -o-border-radius: 0em;
  border-radius: 0em;
}
input[type=file] {
  width: 100%;
  background-color: #FFF;
  border: 0.071em solid #f3f3f3;
  padding: 1em;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}
a.btn:visited {
  color: #ffffff;
}
.btn-primary {
  background-color: #975CA8;
  border-color: #975CA8;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.btn-default {
  color: #ffffff;
  background-color: #25ABC3;
  border-color: #25ABC3;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #693D75;
  border-color: #693D75;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #1D8395;
  border-color: #1D8395;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.branding a:hover, .branding a:active, .branding a:visited:hover, .branding a:visited:active {
  text-decoration: none;
  color: #ffffff;
}
.green-btn, button.green-btn, input.green-btn {
  background: #975CA8;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  border: #975CA8;
  font-weight: 300;
}
.green-btn:hover, button.green-btn:hover, input.green-btn:hover {
  background: #854F95;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  border: #975CA8;
  font-weight: 300;
}
/*#ciudadviva-logo{
        background-image:url("/cobrands/barriosenaccion/images/ciudadVivaNegro.png") !important;
        background-position:0 -5px !important;
        height:40px;
        opacity:0.8;
        width:100%;
        background-repeat: no-repeat !important;
    }*/
.form-box h5 strong{font-size:1em}
.purple {
	color: $purple;
}

/* Header */

header .branding {
	background-color: #975CA8;
	padding: 10px 0;
}
.navbar {
  border-radius: 0;
  overflow: hidden;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #F7F7F7;
}
.navbar-default .navbar-nav>li {
  border-style: solid;
  border-color: #ffffff;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 0px;
}
.navbar-default .navbar-nav>li>a.nosotros {
  min-height: 5.8em;
  color: #975CA8;
}
.navbar-default .navbar-nav>li>a.reporta {
  color: #25ABC3;
}
.navbar-default .navbar-nav>li>a.vecinos {
  color: #664EBC;
}
.navbar-default .navbar-nav>li>a.preguntas {
  color: #664EBC;
}
.navbar-default .navbar-nav>li>a.inicio {
  color: #975CA8;
}
.navbar-default .navbar-nav>li>a.alertas {
  min-height: 5.8em;
  color: #975CA8;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
  font-weight: 300;
  font-size: 1em;
  margin-top: -6px;
  min-height: 5.643em;
}
.navbar-default .navbar-nav>li>a>i {
  font-weight: normal;
  font-size: 1.286em;
  display: block;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #ffffff;
}
.tipos_home, .pasos_home {
	text-align: center;
}
.tipos_home {
	background-color: #664EBC;
	color: #ffffff;
	padding-bottom: 20px;

}
.tipos_home .well {
  background-color: #5E47B0;
  border: #5E47B0;
  color: #ffffff;
  font-weight: 100;
  min-height: 142px;
}
.pasos_home {
	color: #000000;
  background-image: url("/cobrands/barriosenaccion/images/bg_pasos_reportar.jpg");
  background-repeat: no-repeat;
}
.pasos_home .well {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
	margin-bottom: 20px;
  padding: 85px 21px;
  min-width: 300px;
  min-height: 300px;
}
.pasos_home .well p {
  font-weight: 100;
  text-align: center;
}
.pasos_home button {
  margin-bottom: 30px;
}
.tipos_home img, .pasos_home img {
	max-width: 90px;
	margin-bottom: 20px;
}
.tipos_home h2, .pasos_home h2 {
	margin-bottom: 30px;
	font-weight: 100;
	font-size: 2.571em;
}

.navbar {
  margin-bottom: 0px;
}
.carousel {
  margin: 0 -7px;
}
.carousel-inner>.item {
  max-height: 415px;
}
.carousel-inner>.item>img {
  height: 415px;
  width: 1920px;
  overflow: hidden;
}
.carousel-caption {
  right: 15%;
  top: 0px;
  left: 15%;
  bottom: auto;
  color: #fff;
  text-align: left;
  max-width: 50%;
}
.carousel-caption h2 {
  font-weight: 100;
  font-size: 2.571em;
}
.carousel-caption span {
  font-weight: 500;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  color: #6e5ca4;
}
div#main-nav {
  color: #ffffff;
  background: #864598;
}
#side, #side-form {
  // position: absolute;
  //top: 148px;
  background-color: #F7F7F7;
  left: 0;
  z-index: 100;
  padding: 20px 15px 15px;
  max-height: $max-height-map;
  overflow: scroll;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.26);
  box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.26);
}
.big-green-banner:before {
  display: none;
}
.big-green-banner {
  top: 0;
  background: #CEABD8;
  color: #FFF;
  text-transform: none;
  text-align: left;
  font-size: 1em;
  margin: 0 -15px;
  font-weight: 100;
}
#skip-this-step {
  text-decoration: underline;
  display: block;
  margin: 15px 0;
}
.shadow-wrap ul#key-tools{
  display: none;
}
#side-form p {
  font-weight: 300;
  color: #898989;
}
#side-form .change_location {
  background: #CEABD8;
  margin: 0 -15px;
  padding: 15px;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #FFF;
}
.form-box {
  background: #F7F7F7;
}
.branding a, .branding a:visited {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  font-size: 1em;
}
footer {
  background-color: #713283;
  padding: 20px 0;
  margin-top: 0;
}
footer ul li {
  display: inline-block;
  margin-right: 15px;
}
footer ul {
  margin-bottom: 0;
}
.modal-content {
  font-family: 'Roboto', sans-serif;
}
.modal-content label {
  font-size: 1em;
}
.modal-content ul.pc_alternatives {
  margin-left: 0;
}
.modal-content ul.pc_alternatives li {
  list-style: none;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.modal-content ul.pc_alternatives li a {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 300;
}
.modal-content .alerta-resultado {
  background-color: #CEABD8;
  font-size: 1em;
  margin: 20px -15px;
  padding: 15px;
  color: #ffffff;
}
.modal-body .row {
  margin-bottom: 20px;
}
.problem-header .moderate-display {
  margin-bottom: 5px;
}
.problem-header .moderate-display p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#side p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
}
#side .full-width h2.static-with-rule {
  margin: 30px 15px 15px 15px;
}
.issue-list {
  border-bottom: none;
}
.issue-list li.issue {
  border-left: 4px solid #975ca8;
  margin: 10px 15px;
    padding: 5px;
}
.issue-list li.issue p.meta-2 {
  margin-bottom: 0px;
}
#side .issue-list li.issue .update-text p.meta-2 {
  font-size: 0.8125em;
  color: #898989;
}
.council_sent_info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #898989;
}
#update_form {
  margin-top: 40px;
}
#sub_map_links {
  display: none;
}
.banner p {
  display: none;
}
h4.static-with-rule {
  border-top: none;
}
#map_box {
  display: block;
  margin-bottom: 0;
  margin:0px;
  padding: 0px;
}
.elquegeolocaliza {
  margin-top: 20px;
}
.elquegeolocaliza p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 300;
  margin-bottom: 5px;
}
.faq {
  margin: 30px 0;
}
.faq .well {
  padding: 5px 0;
}
.faq .well h3 {
  padding-left: 15px;
  padding-right: 15px;
}
.faq dl dt {
  font-size: 1.143em;
  line-height: 1.5em;
  margin-bottom: 1.071em;
  font-weight: 300;
}
.indice {
    margin-left: 0px;
}
.indice li {
    font-size: 1em;
    font-weight: 300;
}
#alert_recent ul {
  margin-left: 0;
  margin-bottom: 2.143em;
}
#alert_recent ul li {
  float: left;
  margin-right: 15px;
  list-style-type: none;
}

.navbar-toggle .icon-bar {
  background-color: #E7E7E7;
}

#container_carousel {
	div.slogan div.slogan_container {
		position:absolute;
		margin-top: 100px;
		padding-left: 10px;
		margin-right: 1px;
		z-index: 1;
		color: #FFF;
		background-color: #000;
		text-align: left;
		p {
			list-style: outside none none;
		}
	}
	.carousel_item {
	  	width: 100%;
	  	background: #eee;
	  	margin: auto;
	}

	.carrusel {
		height: 300px;
		overflow: hidden;
		img {
			top:-300px;
			position: absolute;
		}
	}
}
.photo-report {
  margin: 5px 0px 5px;
}
.tres-botones {
  // background-color: #F8F8F8;
  border-color: #E7E7E7;
}

@media (min-width: 768px) {
  .nav-justified>li {
    float: none !important;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 75px;
  }
}
@media (max-width: 768px) {
  .navbar {
    min-height: 0px;
  }
  #side, #side-form {
    top: initial;
    max-height: 100%;
  }

  #map_box {
    max-height: 16em;
  }
  .row .pasos_home img {
    display: none;
  }
  .reportar-ahora-xs {
    margin: 30px 0px;
  }
  .pasos_home .well {
      padding: 10px;
      border-radius: 0%;
      width: initial;
      height: initial;
      margin-bottom: 20px;
      min-width: initial;
      min-height: initial;
      margin-left: 0%;
  }
  .landing-text {
    h2 {
      font-size: 22px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-shadow: 0 0 4px #ffffff;
    }
    ul {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }
}

