/* Base stylesheet for FixMyStreet look
 *
 * In a mobile first way, this contains the look of the site, and a basic
 * layout for browsers that can't handle media queries. Baseline grid of 1.5em.
 */

$max-height-map: 41em;
@import "../sass/h5bp";
@import "_colours";
@import "../sass/mixins";
@import "compass";
@import "_originalbase";
@import "_ciudadviva";

#footer-nav {
    display: none;
}

#country_banner {
    display: none;
    color: $primary_text; background: $primary;
    p#international_message { margin: auto; padding: 0.5em 2em; max-width: 40em; text-align: center; }
    #message_close { float: right; }
}

#site-logo {
  background: url($logo-barriosenaccion) no-repeat;
}
.ie7 #site-logo {
  background: url($image-sprite) -3px -3px no-repeat;
}

.next-steps {
  margin: 0 -1em; // counteract padding on parent
  background-color: #faf7e2;
}

.next-steps__step {
  box-sizing: border-box;
  padding: 1em;

  & + .next-steps__step {
    border-top: 1px solid #ede8c9;
  }

  h2 {
    margin-top: 0;
  }

  p {
    color: #666666;
    margin-bottom: 0;
  }
}

.next-steps__step__cta {
  @include pie-clearfix;
  padding-top: 0.4em; // extra padding between buttons and previous paragraph

  a {
    float: left;
    margin: 1em 0.6em 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .next-steps__step--goodies {
    min-height: 37px; // stop absolutely positioned img overlapping bottom of parent element

    img {
      // absolute positioning to overlap floated goodies image to the right
      position: absolute;
      max-width: none;
    }
  }
}

.next-steps__step--goodies {
  @include pie-clearfix;

  .goodies-preview {
    float: right;
    margin-left: 1em;
    margin-right: -0.5em;
  }
}

#homepage-ab-test {
  display: none; // header_extra.html will override this if Analytics tells it to

  a {
    display: inline-block;
    cursor: pointer;
  }

  #cta-report {
    padding: 0.4em 1em;
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    background-color: #ffd000;
    border-radius: 0.3em;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(255,255,255,0.3), transparent);
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    border: 2px solid #BB9900;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: #FFDB3E;
    }

    &:active {
      position: relative;
      top: 1px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    }
  }

  #cta-view {
    margin: 0.5em 0 1em 0;
  }
}
#site-header {
    border-top: 0;
}