/* Base stylesheet for FixMyStreet look
 *
 * In a mobile first way, this contains the look of the site, and a basic
 * layout for browsers that can't handle media queries. Baseline grid of 1.5em.
 */

@import "../sass/h5bp";
@import "_colours";
@import "../sass/mixins";
@import "compass";
@import "../sass/base";
@import "_ciudadviva";

#footer-nav {
    display: none;
}

#country_banner {
    display: none;
    color: $primary_text; background: $primary;
    p#international_message { margin: auto; padding: 0.5em 2em; max-width: 40em; text-align: center; }
    #message_close { float: right; }
}

#site-logo {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK8AAAAoCAYAAACIJ6oVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0
NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFu
Y2VJRD0ieG1wLmlpZDpDODFGNEFGOUNGQUUxMUUzOTVGOUNFRTU4QjUwOTAwRiIgeG1wTU06RG9j
dW1lbnRJRD0ieG1wLmRpZDpDODFGNEFGQUNGQUUxMUUzOTVGOUNFRTU4QjUwOTAwRiI+IDx4bXBN
TTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkM4MUY0QUY3Q0ZBRTExRTM5
NUY5Q0VFNThCNTA5MDBGIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkM4MUY0QUY4Q0ZBRTEx
RTM5NUY5Q0VFNThCNTA5MDBGIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4
bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+v8JzxAAAEEBJREFUeNrsnAeUlNUVx9/MtllZYMFV
6QhS1FBVioqKhAQVjSXCMZogJBjRQA4QYxKMsURjwOCxYMSokCgWYlBQo9hAIyKKqKiRjlRBdqkL
22e+3Lvz+9jHx7ezM7Ml4pl3zj07X3n9/+793/vetwHHcUwqpdKRmIKpIUilFHhTKZVS4E2lVEqB
N5W+5Sk9NQRJpZBIps/9iEiJSEWS5R4tMlDkKMr6SGQFz7JEzhJpIaJe9maR/zRAX08UeVqks8gq
ketF3o8z7/EiZ6IkS0XeFdlar+ANBAJ1Unh4eUg7fqvIEJHcehhYneDVIjNF7k3rWVJW2wLjjL78
VKSvdtFjxXSCNom8xwQXJVh9R5G/ihwLQH9tgbeRyG0iZ3A9r4HA2wvRdAoSL3gVuLP4vUtkRL2D
t46A+z35MxctUp+0RxfIZJGLpM4hAuCiBpjQC0SGxnheLDJV5A4AnchiLOd3Odd2shdnhWmY9KnI
IsZ5jcgHSfQng7aXf+M5r4ComfyZXc/A9aYBIn9qoLp2eQClk/oFoNWULfIbkXNjKI0c5BDF7zP5
1T1zapjXRpQfqmVftV+XiwwXuVRkmed5mtWX9BhtdClVrKR4aUzb0/5fmlfNQzMXyyLjRebXg7ZQ
jvhnkcFcXysLZ1IDaF970a/HvCtd+LnIaPhpGgtqvs3IuKc0qi33FPjPiKytg3alwYsHwje1vkK4
6jK06H6R7ph/nf99Iq/zW61lU+ZpAX1Tjn0awFPK8rHIBurriwVy61Ie/jbaeY+nbQrIC0XaiRSI
vCNywOLVWncP3iumjs9EllZHNdJr0KA9KTQnzsGbLsDZLn9Pte49Lfem1ROINkgbr5C/+QyeapmT
RT6U++Pj5Nk6gK9JG5cn2YYCzKpO1gsiVwLegGexKrDGIR09ZaiGHpkER7aTztEE+PjxnmdKXb5k
kb0E4G7EnG8D3AqYG0ROQmPeDh3T6yfBikP5CqxhIn8U6eqp62qRN0QmeihTE5GxlLEELn8AQN/C
gsryaGq1cDOwYvGBVyY+gOMwJsEBVI67nYa6aV19qkAB3U5p7z40hrEWmoK3fZzFTJEypuNJJ7pf
nidytsjXANetX7XFy9Z7PwIQjZmY99C+qokGYZJfqoV1Umt3kwWAd1nMp3KvC1rUtRyuZcwlcvIl
Wjib+90At/HMZ5g+TLKAu4b+9hNpLdLBpx8Bq+zjGINOIvdZi3kVFqwfdeahlROiDROTAO6RnsZg
uqcmESG4G0C0Z8JV49xpOTctoBSNub5X5H7A7vL0E5jcZJwaBcE1FnBnWdpsrmVhSi1N7DpSLg8t
BMADuT6W9pYhbmhwPwvB1e5F9PUl6JvKP1gIdjhxH1Gh5Sz0rzzAVU18Ldr2UZH+Vn0JgXesbZoJ
ycSjkXZ9g8D4L1ZurORy0I5WvxMFbyaTaacM6NZCtMnpIt/hmQLkEUAzwMqTD6DSkuhrb6sNYcpf
j09QXb/9rvd4LEoOGjLgeTdsLbIQztzXhO/mWQsi4KFnL8ClXX9liEURXoUHt7Ac35iOaXXgtTnT
lWKa3zvS1Ki0+YY4IyP9MeHGhyvGk3awUHaKfBcnRsf1EiZlOPSgmeW43I9p7cS9tWguxzLViThp
nSyTvMFycLLiLMMF2W7aHKQPfgspCy35X7R0kNDh2dCHaWj+Mh8n18ZbB4vqlVkOayjeKFg8LxV/
y+lCSS3zb2HC1ExfDNd0x7Y3pjtoASQPB60tlmohEYpPMNOBOMNhjqWA7HylSfB2x7IYQUuDR3ze
DVGHOn9voq0dtHRvtP4YyonVjsZWXU4ydCm1PVw3qZwJ2A23M1a8twn3HMvkPkWE4nMT3a1yqjHn
YY929AN2qcerz/UAuSal5VhaspUniqLtbuMBoZt3GdTofKzMUPLr85+I/NNH+9qLocwqN81U7QmU
e/qdAm8dJ3sym+JcNEOjnmY9K8KMZwHs5oz5CmtyT0Je91iBIFz8eJwWLxBbQhcOwDeLWSyt4Njb
PSE5xwKPbQmOov5svHw3aUx4rw9GygDbGCJJb9P2sOXkN7boT8CKAnXDYSshJlxq+Q19WOhHM05+
gE+Bty4otcc/+AuhodYesMyDVpQwaecymbfyWwHWg0lV6vCiNVk6N1fBJT8iBrvTKv9U4q9roB5r
oSgGCnOOxyHMsLTbWque5rSnnHYY6nmBd9I9mloXSS94+16ow3ZPXdtZVLutvMr1xxEW1EjDHURj
LuX5hYxhU1N1lsKYGLu0KfAmlxp7gHycda0TsA3gTrZM8N2Auwu8cYhPuEv541uYXTceqqIbL9Nx
6n7AvB2Fc9iXaNBjIlPQYp2QMG1piWZtC5jeQFsO5dreaND3NR692AJ9umcRtKGtCvzLPf1QK/AQ
fH4l/RlkhRVdazCb9vZlXFTrjrD8iDb87pwCb92mf6N1KjxmvohQ2FK0ih2jfIXrqwFLDtpuO9GO
uWjr2zDN7o6T1vMxf2cz0e42bhGmexlUJB3PvzkL5nnAeAVA/ox2KvAmwLl7sxjVhG8UmUNb3b7p
vRkslnLMvd6bhPVoQ1/cXbzZLFxXA483VTt3Ifqxjmcr0MY6Ju0p3w2ZKeDbUaZ/iMTvCGDk02z7
Zu+0niWfJDKz4eWhuXjemm6T/LfWJ5Kkvj1W2OVcqe+tBPL2AhxRBPYojuc8aBYayPGJf5bU4GUr
CI7hbwWmtcDzTg4aNwvA51vlpsNrc7inJr7Qise2Box7Mc8GreY6ZmWe6EIeoCoH1Pt9KFLI5a5O
wUMlJmdARSDU3S23OX0po517ffrcxOpPIe8VW+1oznMdj00shEwkYqrZNk9p3uRSqUnsqKPxOHEb
a3hnv6l+Z8md4OocyS0+9/fFiJJs83sQ2TTaBNtp1CsQNmUbD0Q2jBQYi9IuEiWfdrQJdFki6Dlm
n1/Zzo7Jxtk93wQ7iwIPhtz698Xo7y5z+AZXmU+0ImHwNk9iguydms71rHXzLK1rahikuupfHS2B
lSay7jIBQ9bhEbLMdibYaqpxdgp9bDrMOBuuqdR9wY5ilUPdDwVL4XzjbJoosynlREpN8IT5lfmj
daySOi71qcNbZakJtBFaXrbeOPlSZ9kaEyleElXOEfG9itdo/TkmmJFrwnvzI2vPlAwCzIxW0qbo
wTlnz7PG2Sq+YkTWT0Whiaw+zQS7ip8aSKuX4auONnwBRzGYgeU+pvBVMc93WSDSE2i5cu9t+T0O
b9QNdSjneTmGttoq+cqrAWeTGABTR+ROU3Vutsgyg72kzIVWObr3f6U5fKuzpwX+FUIbTq77wNqh
CiSyuo80SKy9I0q0fId+uuKjQEWvpEu3w2Jlg2KVKwg0ZAjjCGSa4IkyReXbpawBlcrRVOyKlqPz
mSEWOJBRVbdvHd4qJV96s2ibKusUi+2UVw1TICNEVOX0Sg7tlK85GIzI4LxPRIxFheitIHsdjkx3
VjcB8IfR60B6g4BXvd3H48h/iQBkngAjG/K/VK6vkOtcQjh5cbZDtxr7Sd4DHuD2IQzUKM5ypuq2
sOQTG2fuUa3PqbP+eM818dkRAt4n6hK0zq4ZohXHR7XiwfslUbBUAirWJqdLYx3rvUg0bzA7ej9S
4lMO71TOcE11+NXnO0yjUUIPiPzN2DtiTjhGXZHKZgaaDDWBDs/VP3j1GzaZ8BvxfGOdxN9AGEc9
z9/jsHQXwKyQ/OcQ2on3LPBkyfdbC7jpeNE94sy/gNBPBEuhR+keNtHDNks9sUNvUsfnFql/Sl3+
ByHnwGLjrDxTNFOoOsrWA0fFnXXls0sY896M7wrGsBfvfOjjwGQRnWiBIrA99Exiwidj+ZaiWHSc
OvBMlY1+C/g+ZfWFc3/C2KiDOQplNJ/x3Ylj2Jv2L2L+exCB0HeiZyyEygQanSXgnSO9zqt/8AIg
PRZ3lieumUfM0k2PE4pxj7/dIyD4FfmV7+oZ0/M8sdDqnIduknc1eSegPWvKs5JQzoNKPdC6My37
q89+ZuW53TO56v2+I3l3RK1nHYE3UiR89WHjbBFlleb3oXElYF70BPcNZlmPR84ihDYUUC4AWPp8
lSdPT8pqS74xbBLo+79gE8KdQw1T/Rhn6F7m100TAOxcnMLzGWM9aTfMVB30eZZ3mxAvbsFmw4uE
yobThocP0o5wsQk0HSzLYJIAWQxqMKfWQxyThDChc3x4aA8rkD7C46hNtvLrCh9Zg7OlYG1G2EZ5
8nlyvzVa/2BcVcq6MM4+zYEHt0Ij2MB9Wcq5pUGcsUihOFniRGVlVxc5c/mAattH0Yg6BuvRkpr6
MX5z0ITBasrpB4C0rMGEy3Rcz2E+dOPgD2jEC9COwwDuE9Q9Ej9nJX5OMQC/DrBr+PEZfg9Dsz7J
nLcGzAusqEHkEA6flm2cfW8YUyDSYpQJtBWnMJBVf+CNkfSzjEs8GlnT71wNFk+SdwsEqDeb6Kks
TUPk+mIGyC27mEB2vGUWShnKzZ7yoQbjGgS4wmmd/PsEiumxQr4ucCOAawMTnw+I3aOJo9GCu6ET
EZ+4sVo2dbI/Ran0YxEMZI4fR8vqb9396gJd0HJ/aao+YSriWbYVa70M66TO+Wu07xQsxlxTdepw
IIqi7HDw0l0Nm2UHjLNjpnHEeQuETjKBPFkbgeS+EU3q62EByDaPZtT0AUQ+0TQdU+UmNfP2luOd
Ut+XCZapGsL7Pw20nPUNAl6ZDOeru/C6Y6YKAKLW4E3Mcy73y9BuSt1uxpL4RWTaAKTF0KwtjF8j
SxuvtepbR3QlHfrkhjU3AsxMtHmEheHu1rmx6fUsssam6lhjAfdjfTFdFdXIlLVR8IhxNk5MGrhJ
g5d0P6vdHZTrBByRJBZC2KMR7bDYKg+/jrdMhzLLa1NO0op3syigjEwTx7Fa9zOcB030M6EpxKkz
GFPlj3+H07Y2/kcF++BQnQ14mkAXmgHMoDn0GzR3EyQcIwTphhzKaV+2FU7MNlVnekvgwZtQZrmm
6nBQjM4rjZAiMjOjY9XQ4CUu+30GbJBcf1SLshbBvbzp+mT/C47kUxM6iPYNluvShgBuZPMo4xTM
SGRoA0z+ckywe+YhHadrmuWgRTygCFkOVzbRg1KAdgbRgyAOVB+cvbFwWtWyXblWx/patGYRWj+d
35/jbCsd6QilyyMKstdUbZXPwWomBD8dKx2zOo82NGQSntqSSXK57lMCuKsauh21iTZENgs9LXiM
6EKN4FWtpwd8+sMpywDeSCjCYzhbN+E06dfcO+CW7r+A6k44MgzfXMG7NwHcH0LLLmaBuCfghlP/
NPJqSKs9UZrn0Pb5RBs6cq8ZvLwDFGE47V3IouuKw/c8ea6nbqfG2HJYup43ygTbJob9b8zZBuXR
AuCx8Ob1eK9HTHK2StNV48YHXNcRnWmqNk/cr463wCEfsHj7cyzqLHPoIZ4w1OJz3g1TZgXl7QfM
i9DQWucrRAX2U9ZFJnoA/GkcO7cM9/DMYpxz3Z1sR1tmUWdL6GOEhaGn1m6EwiwzcX2OFIz2vnRt
3WjeVEqlIyGl/j9vKqXAm0qplAJvKqVSCryp9G1P/xNgANDDG4v4urSUAAAAAElFTkSuQmCC') no-repeat;
}
.ie7 #site-logo {
  background: url($image-sprite) -3px -3px no-repeat;
}

.next-steps {
  margin: 0 -1em; // counteract padding on parent
  background-color: #faf7e2;
}

.next-steps__step {
  box-sizing: border-box;
  padding: 1em;

  & + .next-steps__step {
    border-top: 1px solid #ede8c9;
  }

  h2 {
    margin-top: 0;
  }

  p {
    color: #666666;
    margin-bottom: 0;
  }
}

.next-steps__step__cta {
  @include pie-clearfix;
  padding-top: 0.4em; // extra padding between buttons and previous paragraph

  a {
    float: left;
    margin: 1em 0.6em 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .next-steps__step--goodies {
    min-height: 37px; // stop absolutely positioned img overlapping bottom of parent element

    img {
      // absolute positioning to overlap floated goodies image to the right
      position: absolute;
      max-width: none;
    }
  }
}

.next-steps__step--goodies {
  @include pie-clearfix;

  .goodies-preview {
    float: right;
    margin-left: 1em;
    margin-right: -0.5em;
  }
}

#homepage-ab-test {
  display: none; // header_extra.html will override this if Analytics tells it to

  a {
    display: inline-block;
    cursor: pointer;
  }

  #cta-report {
    padding: 0.4em 1em;
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    background-color: #ffd000;
    border-radius: 0.3em;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(rgba(255,255,255,0.3), transparent);
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    border: 2px solid #BB9900;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: #FFDB3E;
    }

    &:active {
      position: relative;
      top: 1px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    }
  }

  #cta-view {
    margin: 0.5em 0 1em 0;
  }
}
