/* Opera has a bug (from around 10.5 upwards to current 11.6) with showing the
 * table caption *at all* if the header is set to a font-face :( */
noindex:-o-prefocus, #site-header {
  font-family: sans-serif;
}

h3, h4 {
    font-weight: bold;
}

@import "_colours";
@import "../sass/layout";

// Tiled background stripe, not plain colour
body.mappage {
    .nav-wrapper {
        .nav-wrapper-2 {
            @include background(linear-gradient(#000, #222 10%, #222 90%, #000));
        }
    }
}


/* hide the footer on the alert page as the interaction with the
 * photo sidebar is awkward to fix */
body.alertindex {
  #footer-nav {
    display: none;
  }
}

.next-steps {
  @include clearfix;
  margin-bottom: 2em; // add some space between this and the footer
}

.next-steps__step {
  font-family: MuseoSans,Helmet,Freesans,sans-serif;
  float: left;
  width: 33%;
  padding: 1.8em;

  & + .next-steps__step {
    border-top: none;
    border-left: 1px solid #ede8c9;
  }

  h2 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1.2em;
  }

  p {
    line-height: 1.4em;
  }
}

#homepage-ab-test {
  #cta-report {
    font-size: 2em;
  }

  #cta-view {
    line-height: 1.2em;
    font-size: 1.2em;
    color: #333;
    border-bottom: 1px solid #917F00;
    text-decoration: none;

    &:hover, &:focus {
      border-bottom-color: #BD942A;
    }
  }
}
#front-main #front-main-container {
    margin: 0 auto;
    max-width: 100%;
}
#front-main {
  padding: 0em;
}

.nav-wrapper {
  display: table-caption;
  .nav-wrapper-2 {
    width: 100%;
    min-height: 0em;
    position: relative;
    border-top: 0px solid $primary;
    border-width: 0px 0 0 0;
    z-index: 0;
  }
}
.ie6, .ie7 {
  .nav-wrapper {
    position: relative;
    top:0;
    left:0;
    width:100%;
    .nav-wrapper-2 {
      // position static as well so we fix lots of the z-index issues
      position:static;
    }
  }
  .nav-wrapper{
      z-index:0;
      .nav-wrapper-2 {
        position:static;
      }
    }
}
.ie8 {
  body.mappage {
    .nav-wrapper{
      position: relative;
      z-index:0;
      .nav-wrapper-2 {
        position:static;
      }
    }
    #site-logo {
      position: absolute;
    }
  }
}
body.mappage {
  .nav-wrapper{
    .nav-wrapper-2{
      position: relative;
    }
  }
}
body.frontpage {
  .table-cell {
    .content {
      margin: 0em 0em 0;
    }
  }
  .nav-wrapper-2{
    height:0em;
  }
}