                </div><!-- .content role=main -->
            </div><!-- .container -->
        <footer>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <ul id="entidades pull-left">
                        <li>
                            <a id="ciudadviva-logo" href="http://www.ciudadviva.cl/"><img src="/cobrands/barriosenaccion/images/logo_ciudada_viva.png" alt="Ciudada Viva"></a></li>
                        <li>
                            <a id="FCI-logo" href="http://ciudadanointeligente.org/"><img src="/cobrands/barriosenaccion/images/logo_FCI.png" alt="Fundación Ciudadano Inteligente"></a>
                        </li>
                        <li>
                            <a id="secretaria-logo" href="http://www.seguridadpublica.gov.cl/"><img src="/cobrands/barriosenaccion/images/logo_subsecretaria.png" alt="Subsecretaría de Prevención del Delito"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <ul class="contacto pull-right">
                        <li><a href="mailto:info@ciudadviva.cl" title="E-mail" title="E-mail"><img src="/cobrands/barriosenaccion/images/ico_mail.png" alt="E-mail"></a></li>
                        <li><a href="https://www.facebook.com/plataformabarriosenaccion" target="_blank" title="Facebook"><img src="/cobrands/barriosenaccion/images/ico_facebook.png" alt="Facebook"></a></li>
                        <li><a href="https://instagram.com/barriosenaccion/" title="Instagram"><img src="/cobrands/barriosenaccion/images/ico_instagram.png" alt="Instagram"></a></li>
                        <li><a href="https://twitter.com/barriosenaccion" title="Twitter"><img src="/cobrands/barriosenaccion/images/ico_twitter.png" alt="@barriosenaccion"></a></li>
                    </ul>
                </div>
            </div>


        </footer>

    [% TRY %][% PROCESS 'footer_extra.html' %][% CATCH file %][% END %]

</body>
</html>
