                </div><!-- .content role=main -->
            </div><!-- .container -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    <ul id="mysoc-menu">
                        <li><a id="ciudadviva-logo" href="http://www.ciudadviva.cl/"></a></li>
                        <li><a id="mysoc-logo" href="https://www.mysociety.org/">mySociety</a></li>
                    </ul>
                </div>
            </div>

<!-- [% INCLUDE 'debug_footer.html' %] -->
    </div> <!-- .wrapper -->

    [% TRY %][% PROCESS 'footer_extra.html' %][% CATCH file %][% END %]

</body>
</html>
