<div class="row tipos_home">
    <h2 class="text-center">¿Qué tipo de problemas puedo reportar?</h2>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="/cobrands/barriosenaccion/images/c_basura.jpg" alt="Basura" class="img-responsive center-block img-circle">
        Basura
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="/cobrands/barriosenaccion/images/c_estacionamientos.jpg" alt="Estacionamientos" class="img-responsive center-block img-circle">
        Estacionamientos
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="/cobrands/barriosenaccion/images/c_luminarias.jpg" alt="Luminaria" class="img-responsive center-block img-circle">
        Luminaria
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="/cobrands/barriosenaccion/images/c_ruidos.jpg" alt="Ruidos Molestos" class="img-responsive center-block img-circle">
        Ruidos Molestos
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="/cobrands/barriosenaccion/images/c_abandonado.jpg" alt="Sitio o Inmueble Abandonado" class="img-responsive center-block img-circle">
        Sitio o Inmueble Abandonado
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="/cobrands/barriosenaccion/images/c_calle.jpg" alt="Vereda o Calle en mal estado" class="img-responsive center-block img-circle">
        Vereda o Calle en mal estado
    </div>
</div>
<div class="row pasos_home">
    <div class="row">
       <h2 class="text-center">¿Cómo Reportar un problema?</h2>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             <img src="/cobrands/barriosenaccion/images/r1.jpg" alt="1. Introduzca un nombre de la calle y la zona cercana" class="img-responsive center-block img-circle">
            1. Introduzca un nombre de la calle y la zona cercana
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="/cobrands/barriosenaccion/images/r2.jpg" alt="2. Ubique el problema en un mapa de la zona" class="img-responsive center-block img-circle">
            2. Ubique el problema en un mapa de la zona
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="/cobrands/barriosenaccion/images/r3.jpg" alt="3. Introduzca detalles del problema" class="img-responsive center-block img-circle">
            3. Introduzca detalles del problema
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img src="/cobrands/barriosenaccion/images/r4.jpg" alt="4. Se lo enviamos a la municipalidad" class="img-responsive center-block img-circle">
            4. Se lo enviamos a la municipalidad
        </div> 
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-warning">REPORTAR AHORA</button>
            </div>
        </div>
    </div>
    
</div>