<div class="row tipos_home">
    <h2 class="text-center">¿Qué tipo de problemas puedo reportar?</h2>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="well">
            <img src="/cobrands/barriosenaccion/images/c_basura.png" alt="Basura" class="img-responsive center-block">
            Basura  
        </div>
        
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="well">
        <img src="/cobrands/barriosenaccion/images/c_estacionamientos.png" alt="Estacionamientos" class="img-responsive center-block">
        Estacionamientos 
        </div>
        
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="well">
           <img src="/cobrands/barriosenaccion/images/c_luminarias.png" alt="Luminaria" class="img-responsive center-block">
            Luminaria 
        </div>
        
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="well">
           <img src="/cobrands/barriosenaccion/images/c_ruidos.png" alt="Ruidos Molestos" class="img-responsive center-block">
            Ruidos Molestos 
        </div>
        
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="well">
           <img src="/cobrands/barriosenaccion/images/c_abandonado.png" alt="Sitio o Inmueble Abandonado" class="img-responsive center-block">
            Sitio o Inmueble Abandonado 
        </div>
        
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="well">
           <img src="/cobrands/barriosenaccion/images/c_calle.png" alt="Vereda o Calle en mal estado" class="img-responsive center-block">
            Vereda o Calle en mal estado 
        </div>

    </div>
</div>
<div class="row pasos_home row-centered">
   <h2 class="text-center">¿Cómo reportar un problema?</h2>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered">
        <div class="well">
         <img src="/cobrands/barriosenaccion/images/r1.png" alt="1. Introduzca un nombre de la calle y la zona cercana" class="img-responsive center-block">
        <p>1. Introduce la dirección o ubica el problema en el mapa</p>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered">
        <div class="well">
           <img src="/cobrands/barriosenaccion/images/r2.png" alt="2. Ubique el problema en un mapa de la zona" class="img-responsive center-block">
            <p>2. Agrega detalles del problema</p>
        </div>
        
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-centered">
        <div class="well">
           <img src="/cobrands/barriosenaccion/images/r3.png" alt="3. Introduzca detalles del problema" class="img-responsive center-block">
            <p>3. Se lo enviamos a la municipalidad</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-lg pull-right">Reportar ahora</button>
    </div>
</div>    