[%# A trio of suggested steps, shown on completion pages across FMS.com %]

[% DEFAULT share_url = c.cobrand.base_url %]
[% DEFAULT twitter_comment = 'I just used @fixmystreet, you should try it!' %]

<div class="next-steps">
  <div class="next-steps__step next-steps__step--apps">
    [% IF just_interacted %]
      <h2>Puedes probar nuestra aplicación de celular</h2>
    [% ELSE %]
      <h2>¿Has probado nuestra aplicación para celulares?</h2>
    [% END %]
    <p>¡Descárgala ahora!</p>
    <p class="next-steps__step__cta">
      <a href="https://play.google.com/store/apps/details?id=org.ciudadano.BarriosEnAccion"><img src="/cobrands/fixmystreet/images/next-step-google.png" alt="Android app on Google Play" width="120" height="37"></a>
    </p>
  </div>
</div>
