$logo-cv: '/cobrands/bellavistaenaccion/images/ciudadVivaNegro.png' !default;
$logo-bellavistaenaccion: '/cobrands/bellavistaenaccion/images/bellavistaAccion.png' !default;

#ciudadviva-logo {
	background-image: url($logo-cv) !important;
	background-position: 0 -5px !important;
	height: 16px;
	opacity: 0.8;
	width: 116px;
}

#site-logo {
	background-image: url($logo-bellavistaenaccion) !important;
}